<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%date{dd.MM.yyyy, HH:mm:ss} %-5level [%thread] %logger{2}.%method():%line%n%msg%n%exception"/>
        </Console>
        <File name="file" fileName="D:/Other/Studing subjects/JAVA/final_project/log/application.log" bufferedIO="false">
            <PatternLayout
                    pattern="%date{dd.MM.yyyy, HH:mm:ss} %-5level [%thread] %logger{2}.%method():%line%n%msg%n%exception"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>